{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
<p>{{ text }}</p>
{% endblock %}

{% block scripts %}
<script src="{{ asset('js/legals.js') }}"></script>
{% endblock %}